<h1 class="lib-title">БИБЛИОТЕКА</h1>

<div class="search-form">
  <input class="search-input" type="text" [(ngModel)]="search" placeholder="Найти книгу">
</div>
<div class="booksAllItem">
  <div *ngFor="let item of books | filter:search" class="books">

    <div *ngIf="!item.isedit">

      <div class="books-item">
        <div class="books-title">
          <h3>{{item.title}}</h3>
          <h4>{{item.author}}</h4>
        </div>
        <div>
          <img class="books-img" src="{{item.img}}" alt="">
        </div>
        <button class="books-item_btn" mat-raised-button (click)="openDialog()">Взять книгу</button>
      </div>
    </div>
  </div>
</div>
<app-book-order></app-book-order>
<hr>
<app-chat></app-chat>
