.book-order {
  display: block;
  position: fixed;
  right: 0;
  top: 10%;
  border: 1px solid white;
  color: black;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.book-order_block {
  border: 1px solid black;
  margin-bottom: 10px;
}

.book-order-title {
  font-size: 20px;
  max-width: 200px;
}

.book-order-name {
  font-size: 15px;
}

.book-order-surname {
  font-size: 15px;
}

.order-btn {
  background: none;
  color: red;
  outline: none;
  border: 1px solid red;
  cursor: pointer;

}
