.mainPage-title {
  text-align: center;
  font-size: 2.3rem;
  padding: 10px 0;
}

.addBooks-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid goldenrod;
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  background-color: goldenrod;
}

.addBooks-input {
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 50px;
  &:focus {
    background-color: aliceblue;
    outline: none;
  }
}

.addBooks-btn {
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.lib-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.booksAllItem {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.books {
  padding: 10px;
  border: 1px solid black;
  background: goldenrod;
  flex-basis: 31%;
  margin: 10px 10px;
}

.books-item {
  text-align: center;
}

.books-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.books-img {
  max-height: 300px;
  width: auto;
}

.books-item_btn {
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  &:hover {
    background: black;
    color: white;
  }
}

.upd-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-text {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.booksUpdate {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid black;
  &:focus {
    outline: black;
  }
}

.upd-book_input {
  display: flex;
  flex-direction: column;
}

.upd-book_btn {
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background: white;
  color: black;
  &:hover {
    background: black;
    color: white;
  }
}
