<h1 class="mainPage-title">Добавить книгу</h1>
  <div class="addBooks-form">
    <input class="addBooks-input" type="text" required [(ngModel)]="booksTitle" placeholder="Название книги">
    <input class="addBooks-input" type="text" required [(ngModel)]="booksAuthor" placeholder="Автор">
    <input class="addBooks-input" type="text" required [(ngModel)]="booksImg" placeholder="URL Изображения">

    <button class="addBooks-btn" (click)="CreateRecord()"
            [disabled]="!booksTitle || !booksAuthor || !booksImg">Добавить книгу
    </button>
  </div>

  <hr />

  <h1 class="lib-title">Добавленные книги:</h1>

  <div class="booksAllItem">
    <div *ngFor="let item of books" class="books">

      <div *ngIf="!item.isedit; else elseBlock">

        <div class="books-item">
          <div class="books-title">
            <h3>{{item.title}}</h3>
            <h4>{{item.author}}</h4>
          </div>
          <div>
            <img class="books-img" src="{{item.img}}" alt="">
          </div>
            <button (click)="EditRecord(item)" class="books-item_btn">Изменить</button>
            <button (click)="Deletebooks(item.id)" class="books-item_btn">Удалить</button>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="upd-book">
          <div>
            <h5 class="books-text">Обновить</h5>
            <div class="upd-book_input">
              <input class="booksUpdate" type="text" [(ngModel)]="item.edittitle">
              <input class="booksUpdate" type="text" [(ngModel)]="item.editauthor">
              <input class="booksUpdate" type="text" [(ngModel)]="item.editimg">
            </div>
          </div>

          <a href="#" class="upd-book_btn" (click)="item.isedit = false">Закрыть</a>
          <a href="#" class="upd-book_btn" (click)="Updatarecord(item)">Обновить</a>

        </div>
      </ng-template>
    </div>
  </div>
