<div class="container">
  <h1>Добавить книгу</h1>


  <div class="addBooks-form">
    <input class="addBooks-input" type="text" [(ngModel)]="booksTitle" placeholder="Название книги">
    <input class="addBooks-input" type="text" [(ngModel)]="booksAuthor" placeholder="Автор">
    <input class="addBooks-input" type="text" [(ngModel)]="booksImg" placeholder="Изображение">

    <button class="addBooks-btn" (click)="CreateRecord()"
            [disabled]="!booksTitle || !booksAuthor || !booksImg">Добавить книгу
    </button>
  </div>

  <h4><b>{{message}}</b></h4>

  <h1 class="lib-title">Добавленные книги:</h1>

  <div class="booksAllItem">
    <div *ngFor="let item of books">

      <div *ngIf="!item.isedit; else elseBlock">

        <div class="books">
          <div class="books-title">
          <h5>{{item.title}}</h5>
          <h6>{{item.author}}</h6>
        </div>
          <div>
            <img class="books-img" src="{{item.img}}" alt="">
          </div>

          <div>
            <button (click)="EditRecord(item)" class="btn btn-primary btn-xs">Изменить</button>
            <button (click)="Deletebooks(item.id)" class="btn btn-danger btn-xs">Удалить</button>
          </div>

        </div>
      </div>

      <ng-template #elseBlock>
        <div>
          <div>
            <h5 class="books-text">Обновить</h5>
            <div>
              <input class="booksUpdate" type="text" [(ngModel)]="item.edittitle">
              <input class="booksUpdate" type="text" [(ngModel)]="item.editauthor">
              <input class="booksUpdate" type="text" [(ngModel)]="item.editimg">
            </div>
          </div>

          <a href="#" class="btn btn-danger btn-xs" (click)="item.isedit = false">Закрыть</a>
          <a href="#" class="btn btn-primary btn-xs" (click)="Updatarecord(item)">Обновить</a>

        </div>
      </ng-template>
    </div>
  </div>
</div>
